body{
	margin: 0px;
	padding: 0px;
	font-family: poppins;
	background-color: #333333;
}




*{
	box-sizing: border-box;
}
ul{
	list-style: none;
	background-color: #333333;
}
a{
	text-decoration: none;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	border: 1px solid rgba(0,0,0,0.4);
	background-color: #000000;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}
.logo img{
	height: 35px;
}
nav .menu{
	display: flex;
	background-color: #000000;
}
nav .menu li a{
	height: 40px;
	line-height: 43px;
	margin: 0px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color: #dcdcd6;
	letter-spacing: 1px;
}
.search{
	width: 250px;
	height: 40px;
	background-color: rgba(245,245,245,0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	padding: opx 20px;
}
.search input{
	width: 100%
	heigth: 30px;
	border: none;
	outline: none;
	background-color: transparent;
}
.search i{
	color: #3a3a3a;
}
nav .menu li a:hover{
	background-color: #a1a191;
	color: #ffffff;
	box-shadow: 5px 10px 30px rgba(53,53,53,0.1);
	transition: all ease 0.2s;
}
#main{
	padding-top: 80px;
	background-color:  #333333;
}
.showcase-box{
    width:430px;
    height: 250px;
    box-shadow: 5px 15px 30px rgba(0,0,0,0.3);
    border-radius: 10px;
    margin:0px 20px 10px 20px;
    overflow: hidden;
}
.showcase-box img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.showcase-heading{
	padding-left: 30px;
	font-weight: 2000;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 1.2rem;
	color:  #cccccc;
	background-color: #333333;
}
.cs-hidden{
	overflow: visible !important;
}
.latest-heading{
	background-color: #333333;
	padding-left: 30px;
	font-weight: 2000;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #cccccc;
}
.latest-movie-text{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 10px;
}
.latest-box{
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	margin: 20px 10px;
	border-radius: 10px;
	overflow: hidden;
	width: 200px;
	background-color:#4d4d4d;
}
.latest-movie-img{
	width: 100%;
	height: 270px;
}
.latest-movie-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.movie-img img{
	width: 500x;
	height: 800px;
}

.zanrai{
	padding-left: 30px;
	font-weight: 2000;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #cccccc;
}

.movie-text{
	text-align: left;
	padding-left: 5px;
	font-weight: 2000;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #cccccc;
}

.latest-movie-text strong{
	color: #cccccc;
	margin: 0px;
}

.latest{
	color: #333333;
	background-color: #333333;
}

div{
	background-color: #333333;
}

section .main{
	background-color: #333333;
}
